<div class="well">
	<div class="row-fluid oor-about">
		<div class="span4 oor-about-profile">
			<div class="img-polaroid oor-about-profile-photo" style="width: 176px; height: 216px; padding: 5px">
				<%= image_tag("#") %>
			</div>
		</div>
		<div class="span8 oor-about-text oor-justify-text-align">
Hi, I am the Author. Here I am gonna ....
			<div class="pull-right">
				<%= mail_to "#", raw("<i class=\"icon-envelope-alt\"></i>") %>
				<%= link_to "#" do %>
					<i class="icon-facebook-sign"></i>
				<% end %>
				<%= link_to "#" do %>
					<i class="icon-linkedin-sign"></i>
				<% end %>
				<% link_to "#" do %>
					<i class="icon-weibo"></i>
				<% end %>
			</div>
		</div>
	</div>
</div>